boto3==1.35.87
botocore==1.35.87
Brotli==1.1.0
cffi==1.17.1
click==8.1.8
colorama==0.4.6
daiquiri==3.0.0
exceptiongroup==1.2.2
greenlet==3.1.1
h2==4.1.0
hpack==4.0.0
hyperframe==6.0.1
iniconfig==2.0.0
jmespath==1.0.1
packaging==24.2
pip==24.3.1
pluggy==1.5.0
psycopg2==2.9.9
pycparser==2.22
PySocks==1.7.1
pytest==8.3.4
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
ruff==0.8.4
s3push==0.0.1
s3transfer==0.10.4
setuptools==75.6.0
six==1.17.0
SQLAlchemy==2.0.36
tomli==2.2.1
typing_extensions==4.12.2
urllib3==2.3.0
zstandard==0.23.0
