#!/usr/bin/env python
# -*- coding: utf-8 -*-

"""
:Mod:
    config.py

:Synopsis:

:Author:
    servilla

:Created:
    12/17/24
"""
from pathlib import Path

class Config:

    LOG_PATH = Path("LOG_PATH")
    INVENTORY_PATH = Path("INVENTORY_PATH")
    DATA_ROOT_PATH = Path("DATA_ROOT_PATH")

    # AWS S3 bucket name
    BUCKET = "BUCKET"

